<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="bowling">
  <head>
    <title>Bowling Calculator</title>
    <script src="js/lib/lodash.js" type="text/javascript"></script>
    <script src="js/lib/angular.js" type="text/javascript"></script>
    <script src="js/multimethods.core.js" type="text/javascript"></script>
    <script src="js/bowling.core.js" type="text/javascript"></script>
    <script src="js/bowling.vm.js" type="text/javascript"></script>
    <script src="js/viewmodels.js" type="text/javascript"></script>
    <script src="js/directives.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="bowling.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Bowling Sheet</h1>
      <table class="sheet" ng-controller="SheetViewModel">
        <thead>
          <tr>
            <th class="sheet-header sheet-outlined" ng-repeat="frame in frames">Frame {{$index+1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sheet-outlined" ng-repeat="frame in frames" ng-class="{'sheet-disabled': isDisabledFrame($index), 'sheet-current': isCurrentFrame($index)}">
              <input focus="!frame.first && isCurrentFrame($index)" ng-disabled="isDisabledFrame($index)" maxlength="1" type="text" class="sheet-throw readable-text sheet-cell" ng-model="frame.first" />
              <input focus="!frame.second && frame.first && isCurrentFrame($index)" ng-disabled="isDisabledFrame($index) || frameIsAStrike($index)" maxlength="1" type="text" class="sheet-throw readable-text right sheet-cell" ng-model="frame.second" ng-class="{'sheet-disabled': frameIsAStrike($index)}" />
              <div class="sheet-total sheet-cell readable-text">{{frame.total}}</div>
            </td>
        </tbody>
      </table>
    </div>
  </body>
</html>
